<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/" routerLinkActive="active">Telephone App</a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" *ngIf="!isUserLogged" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="p-2 text-dark" *ngIf="isUserLogged" routerLink="/contacts" routerLinkActive="active">My Contacts</a>
    <a class="p-2 text-dark" *ngIf="isUserLogged" (click)="logout()">Logout</a>
  </nav>
  <a class="btn btn-outline-primary" *ngIf="!isUserLogged"  routerLink="/sign-up" routerLinkActive="active">Sign up</a>
</div>