#topHeader{
    border: 1ch solid red;
    border-radius: 1ch 1ch;
    height: 10ch;
}

#sameLine{
    display: inline-block;
}

#headTittle{
    display: inline-block;
    padding-left: 5ch;
    position: absolute;
    
}

#topNav ul{
    overflow: hidden;
    list-style-type: none;
    padding-left: 30ch;
    padding-top: .5ch;
}

#topNav ul li{
    display: inline-block;
    padding-left: 3ch;
}

#sideNav{
    float: right;
    padding-right: 5ch;
    padding-top: 1ch;
}

#sideNav p{
    display: inline-block;
    padding-right: 2ch;
}

/* #mainContect{
    display: inline-block;
} */

#formRegister{
    /* display: inline-block; */
    padding-left: 15ch;
    padding-top: 5ch;
}

#links{
    float: right;
}