<div class="row">
    <div class="col-12">
        <app-header></app-header>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <main id="main-content" class="container">
            <router-outlet></router-outlet>
        </main>
    </div>
    <div class="col-4">
        <aside>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sidenav</h4>
                </div>
                <div class="card-body">

                </div>
            </div>

        </aside>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-footer></app-footer>
    </div>
</div>