<div class="row">
    <div class="col-12">
        <h3>My Contacts</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of myContacts">
                    <td>{{contact.firstName | capitalize}}</td>
                    <td>{{contact.lastName | capitalize}}</td>
                    <td>{{contact.address.street}}</td>
                    <td>{{contact.address.city}}</td>
                    <td>{{contact.address.state}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="onEditContact(contact)">Edit</button> &nbsp;
                        <button class="btn btn-danger">Delete</button> &nbsp;
                        <button class="btn btn-info" (click)="onContactView(contact)">View</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>