@import "layout.css";
@import "forms.css";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  /* background-image: url('bak-image.jpeg'); */
}

p {
  font-family: "Times New Roman", Times, serif;
  color: blue;
  font-size: 20px;
}

#p1 {
  background-color: red;
}

#p2 {
  background-color: green;
}

label,
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

h1,
h3,
h3,
h4,
h5,
h6 {
  font-family: cursive;
  color: blueviolet;
}

a {
  font-size: 16px;
}

#topNav ul li a {
  border: 1px solid brown;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: azure;
  text-decoration: none;
  text-transform: uppercase;
}

#topNav ul li a:hover {
  background-color: bisque;
  color: blueviolet;
}

#btnLogin:hover,
button:hover {
  color: red;
  background-color: blue;
}

#imgLogo {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99999;
}

#cssLogo {
  position: absolute;
  top: 10px;
  right: 60px;
  z-index: 9999;
}

h1 {
  color: rgba(80, 33, 9, 0.5);
}

#headerLogin{
  opacity: 0.5;
  text-align: center;
}