<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Angular Components Demo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-group">
                    <label class="col-form-label col-2">Select Date: </label>
                    <div class="col-10">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" id="txtDate" name="txtDate"
                            [(ngModel)]="selectedDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>

                </div>
                <div>
                    SElected Date: {{selectedDate | date: 'MM-dd-yyyy'}}
                </div>
            </form>
        </div>
    </div>
    <div>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" (click)="openDialog()">Open dialog</button>

    </div>
</div>